*{
    margin: 0;
    font-family: "Inter", serif;
 
   
}
body{
    overflow-x: hidden;
}
h5{
    font-size: 23px;
    font-weight: 900;
    line-height: 23px;
    color: #312f2f;

}

p{
    font-size: 14px;
    line-height: 24px;
}

.center-everything{
    display: flex;
    justify-content: center;
}
nav{
    display: flex; 
    justify-content: center;   
}
.logo{
    width: 3rem;
}


.container .nav-content{
    width: 1280px;
    height: 80px;
    background-color: #ffffff;
    
}

.banner-container{
    width: 100vw;
    height: 408px;
    background-image: url("../image/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
}
.nav-content div h2{
    font-weight: 800;
    font-size: 25px;
}

.nav-content div{
    display: flex;
    align-items: center;
}



.nav-content ul{
    display: flex;
    list-style: none;
    height: 79px;
    display: flex;
    align-items: center;
    
}

.nav-content a {
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #000;
}
.nav-content a:hover{
    color: #1041db;
}

.nav-content li{
    margin: 0 15px;
    height: 45px;
    display: flex;
    align-items: center;
    
}



.banner-content{
    width: 1281px;
    height: 346px;
    display: flex;
    align-items: center;
  
}

.main-content{
    width: 481px;
    height: 250px;
    margin-left: 50px;
    
}

.main-content h1{
    font-size: 56px;
    color: #ffffff;
    line-height: 72px;
    font-weight: 900;
    font-family: "Montserrat", serif;
}

.input-btn{
    line-height:24px;
    font-size:16px;
    font-weight:400;
    display: flex;
    align-items: center;
    position: relative;
    top: 2rem;
   
}

.input-btn input{
    width: 477px;
    height: 75px;
    border-radius: 15px;
    padding-left: 1rem;
    outline: none; /* Removes default blue outline on focus */
    transition: border-color 0.9s ease;
    border: none;
    font-size: 15.5px;
    font-weight: 500;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}
.input-btn input:focus{
    border-color: #1041db;
    box-shadow: 0 0 10px 2px #1041db;
}
.input-btn label{
    width: 72px;
    height: 72px;
    border: none;
    outline: none;
    border-radius: 0px 20px 20px 0px;
    background-color: #ffffff;
    right: 2px; /* Aligns the button to the right inside the container */
    top: 5%; 
    position: absolute;
    display: flex;
    align-items: center;
    
}
.input-btn label:hover{
    background-color: #eeeef0;
}
.input-btn label img{
    width: 1.5rem;
    margin-left: 1.3rem;
}



/* sticky navbar */
.other-navbar{
    position: fixed;
    z-index: 1000;
    width: 100vw;
    top: 0rem;
    border-bottom: #b9b3b3 solid 1px;
    height: 79px;
    background: #ffffff;
      transform: translateY(0); /* Default position */
  transition: transform 0.3s ease-in-out; /* Smooth transition */

    
}
.other-navbar.hidden{
    display: none;
    transform: translateY(-100%); /* Move the navbar off-screen */
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}
.other-navbar div{
    display: flex;
    /* gap: 200px; */
    align-items: center;

}
.other-navbar div img{
    width: 3rem;
}
.other-navbar div h2{
    font-weight: 800;
    font-size: 25px;
}
.other-navbar input{
    width: 668px;
    height: 44px;
    background-color: #ffffff;
    border-radius:10px;
    border: 1px solid  #b9b3b3;
    outline: none;  
    padding-left: 1rem;
    box-shadow: none;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    
}

.other-navbar input:focus{
    border-color: #1041db;
    box-shadow: 0 0 5px 1px #1041db;
}
.other-navbar .mover{
    margin-left: 3rem;
    width: 1281px;   
    height: 78px;
}



.input-btn-2{
    line-height:24px;
    font-size:16px;
    font-weight:400;
    display: flex;
    align-items: center;
    position: relative;
    left: 10rem;
    
   
}

.input-btn-2 label{
    width: 44px;
    height: 44px;
    border: none;
    outline: none;
    border-radius: 0px 10px 10px 0px;
    background-color: #ffffff;
    left: 40.2rem; /* Aligns the button to the right inside the container */
    top: 5%; 
    position: absolute;
    display: flex;
    align-items: center;
    
}
.input-btn-2 label:hover{
    background-color: #eeeef0;
}
.input-btn-2 label img{
    width: 1.5rem;
    margin-left: 10px;
}

/* body content */
.center{
    display: flex;
    justify-content: center;
}
.body-content .recommendation{
    width: 1281px;
    height: 879px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -12rem;
  

}

.recommendation .left-side{
    width: 328.33px;
    height: 116px;
}

.left-side h5{
        color: #000;
        font-size: 20px;
        font-weight: 900;
        font-family: "Inter", serif;
        line-height: 0;
}
.left-side p{
    font-size: 16px;
    line-height: 54px;
    color: rgb(83, 83, 100);
    font-weight: 300;
}
.left-side button{
    background-color: #ffffff;
    outline: none;
    border: #1041db 1px solid;
    border-radius: 15px;
    color: #1041db;
    width: 86.97px;
    height: 44px;
    font-size: 16px;
    font-weight: 700;

}
.right-side img{
    width: 30rem;

}

.find-home .home-text{
    width: 1233px;
    height: 48px;
    position: absolute;
    top: 60rem;
    left: 2.5rem;
    
}
.find-home{
    height: 220px;
}
.find-home .home-text h5{
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
}
.find-home .home-text p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color:rgb(83, 83, 100);
}
.expand{
    width: 1233px;
    height: 360px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.first-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.box-container{
    display: flex;
    justify-content: center;
    
}
.boxes{
    width: 1233px;
    height: 319px;
    position: relative;
    top: -11rem;
    display: flex;

}

.last-box{
    width: 871px;
    height: 311px;
} 

.first-box .radius-box{
    border: 1px solid #b9b3b3;
    border-radius: 15px;
    position: relative;
    top: 1rem;
    width: 306px;
    height: 166px;

}
.radius-box{
    padding: 1.5rem;
    width: 346px;
    height: 206px;
}

.radius-box .logo-cont{
    display: flex;
    align-items: center;
}
.radius-box .logo-cont img{
    width: 2rem;
}
.radius-box h2{
    font-size: 15px;
    font-weight: 800;
    color: #312f2f;
    
}

.radius-box .logo-cont span{
    font-weight: 500;
    margin-left: 6px;
    font-size: 14px;
}

.price-content .price-box{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
    position: relative;
    top: 1rem;

}
.money-left{
    display: flex;
    flex-direction: column;

}

.money-right{
    display: flex;
    flex-direction: column;

}

.payment-box{
    display: flex;
    justify-content: center;
    position: relative;
    top: 2rem;
    gap: 34px;
}
.btn{
    width: 346px;
    height: 56px;
    border-radius: 15px;
    background-color: #1041db;
    color: #ffffff;
    font-weight: 700;
    border: none;
    font-size: 16px;
    position: relative;
    top: 2rem;
}
.last-box{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 10px;
    left: 7rem;
    top: -6.3rem;

}

.box-1 img{
    width: 345px;
    height: 177px;
    border-radius: 15px 15px 0px 0px;
    z-index: 0;
}

.box-2 img{
    width: 345px;
    height: 177px;
    border-radius: 15px 15px 0px 0px;

}

.box-3 img{
    width: 345px;
    height: 177px;
    border-radius: 15px 15px 0px 0px;

}

.last-box button{
    background-color: #d3333e;
    width: 117.16px;
    height: 20px;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    position: relative;
    margin-top: -10.8rem;
    margin-left: 10px;
    
   

}

.skeleton{
    width: 345px;
    height: 108px;
    background-color: #ffff;
    border: none;
    box-shadow: 0 0 6px 0px #605d5d6f;
    outline: none;
    position: absolute;
    top: 20rem;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
}
.all{
    position: relative;
    left: 0.5rem;
    top: 10px;
}

.skeleton .ske-box-1{
    width: 230px;
    height: 20px;
    border: none;
    border-radius: 15px;
    background-color: #eeeef0;
}

.skeleton .ske-box-2{
    width: 300px;
    height: 20px;
    border: none;
    border-radius: 15px;
    background-color: #eeeef0;
}

.skeleton .ske-box-3{
    width: 250px;
    height: 20px;
    border: none;
    border-radius: 15px;
    background-color: #eeeef0;
}

.buy-home{
    background-color: #F7F7F7;
    height: 582px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.home-content{
    width: 1281px;
    height: 582px;
    display: flex;
    position: relative;
    justify-content: center;
    gap: 26px;
    top:3rem;
}

.buyhome-card{
    width: 395px;
    height: 486px;
    border-radius: 15px;
    background-color: #ffffff;
    border: 1px solid #eeeef0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 0px #605d5d29;

    
}
.buyhome-img{
    display: flex;
    justify-content: center;
    position: relative;
    top: 1rem;
}

.buyhome-img img{
    width: 160px;
}

.buyhome-card h4{
    font-size: 24px;
    line-height: 60px;
    font-family: "Montserrat", serif;
    font-weight: 900;
    color: #111116;
    text-align: center;
}
.buyhome-card p{
    color: #111116;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    /* width: 23rem; */
}

.buyhome-card div{
    width: 21rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buyhome-card button{
    width: 149.06px;
    height: 44px;
    border: 1px solid #1041db;
    border-radius: 10px;
    color: #1041db;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 2rem;
    
}

.footer{
    width: 1349px;
    height: 880px;
    background-color: #ffffff;
  


}

.footer .foot-section-one{
    width: 1281px;
    height: 192px;
    border-bottom: 1px  solid #b9b3b3;
    background-color: #ffffff;
    position: relative;
    margin-top: 2rem;
}

.foot-section-one div h6 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
}
.foot-section-one div p {
    font-size: 16.6px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: #535364;
}

.footer .foot-section-two{
    width: 1280px;
    height: 180px;
    border-bottom: 1px  solid #b9b3b3;
    background-color: #ffffff;
    position: relative;
}

.foot-section-two ul{
    text-align: center;
    display: flex;
    gap: 20px;
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.foot-section-two ul a{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #535364;
    text-decoration: none;
}

.foot-section-two p{
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 10px;
    
}

.foot-section-two p a{
    text-decoration: none;
    color: #0041d9;
}

.footer .foot-section-three{
    width: 1280px;
    height: 180px;
    margin-top: 2rem;

}
.foot-section-three p{
    color: #535364;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    width: 45.1rem;
    line-height: 20px;
}
.foot-section-three div{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.foot-section-three a{
    color: #0041d9;
}
.footer .all-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-dropdown{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 170px;
    margin-top: 3rem;

}
.footer-dropdown button{
    background-color: #ffffff;
    border: none;
    display: flex;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
.space{
    width: 1px;
    height: 35px;
    background-color: #b9b3b3;
    display: flex;
    position: relative;
    left: 13rem;
    top: -2rem;
}


.diff {
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
}
.social{
    display: flex;
    margin-top: 1rem;
    gap: 10px;
    
}
.social-icon{
    display: flex;
    position: relative;
    top: 10rem;
    gap: 10px;
}
.social-icon div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon span{
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    font-style: italic;
}
.social-icon h2{
    font-size: 14px;
}
.social-icon img{
    width: 2.6rem;
}

.follow-us{
    display: flex;
    gap: 13px;
}
.follow-us i{
    font-size: 28px;
    color: #1877f2;
    position: relative;
   
    

}